@font-face {
    font-family: "Monserat";
    src: url("1.ttf");
    font-weight: ;
}

@font-face{
    font-family: "Pab";
    src: url("Pab.ttf");
    font-weight: 400;
}
@font-face{
    font-family: "reb";
    src: url("P.ttf");
    font-weight: 400;
}
*{
    box-sizing: border-box;
}
body{
    margin: 0;
    font-family: Pab;
    background-image: url(fon4.jpg);
    background-repeat: no-repeat;
    color: black;
}
.container{
    width: 100%;
    max-width: 1140px;
    margin: 0 auto;
    
}
section{
    padding: 90px 0;
}
.first-screen{
    height: 100vh;
    clip-path: ellipse(100% 60% at 50% 35%);
    display: flex;
    align-items: center;
}
.section-bg{
    background: url(%D0%A4%D0%BE%D0%BD2.svg);
    background-attachment: fixed;
    color:white;
    
}
h1{
    font-family: Monserat;
    font-size: 100px;
}
.btn{
    padding: 13px 20px;
    color: black;
    border: 2px solid transparent;
    text-decoration: none;
    font-weight: 700;
    font-family: reb;
    transition: all 1.5s ease 0s;
}
.btn:hover{
    background: black;
    color: white;
    
}
.btn-bg{
    background: white;
    border-color: black;
    
}
.btn-outline{
    border-color: black;
    background: white;
}
.chevron{
    display: block;
    position: absolute;
    bottom:150px;
    left: 50%;
    animation: chevron-animation infinite 2s ease-in-out;
}
.chevron img{
    transition: all 1s ease 0.3s;
}
.chevron:hover{
    transform: translateY(25px);
}
.chevron:hover{
    animation-play-state: paused; 
}
@keyframes chevron-animation{
    0%,100%{
        transform: translateY(0);
    }
    50%{
        transform: translateY(10px);
    }
}
h2{
    font-family: Monserat;
    font-size: 48px;
    margin: 0 0 60px;
}
p{
    font-size: 20px;
    line-height: 2;
    font-family: reb;
}
.gallery{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.img-wrapper {
    width: 350px;
    height: 290px;
    margin-bottom: 50px;
    overflow: hidden;
    cursor:pointer;
    display: flex;
    justify-content: center;
    transition: all 0.3s ease-in-out;
}
.img-wrapper:hover {
    transform: scale(1.20)
}
.img-wrapper img{
    object-fit: cover;
}
.d-flex{
    display: flex;

}
.w-60{
    width: 60%;
}
.w-40{
    width: 60%;
}
.pr-4{
    padding-right: 4rem;
}
form{
    display: flex;
    flex-direction:column;
}
input, textarea{
    padding: 15px;
    font-size:15px;
    margin-bottom: 15px;
    border: none;
    font-family: reb;
}
input:focus,
textarea:focus{
    outline: none;
}
footer{
    font-family: monospace;
    padding: 50px;
    text-align: center;
}

.work {
    font-family: Monserat;
    font-size: 25px;
}
.main{
    background-color: #ffffff;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1600 900'%3E%3Cdefs%3E%3ClinearGradient id='a' x1='0' x2='0' y1='1' y2='0' gradientTransform='rotate(0,0.5,0.5)'%3E%3Cstop offset='0' stop-color='%23000000'/%3E%3Cstop offset='1' stop-color='%23000000'/%3E%3C/linearGradient%3E%3ClinearGradient id='b' x1='0' x2='0' y1='0' y2='1' gradientTransform='rotate(0,0.5,0.5)'%3E%3Cstop offset='0' stop-color='%23000000'/%3E%3Cstop offset='1' stop-color='%23000000'/%3E%3C/linearGradient%3E%3C/defs%3E%3Cg fill='%23FFF' fill-opacity='0' stroke-miterlimit='10'%3E%3Cg stroke='url(%23a)' stroke-width='6.27'%3E%3Cpath transform='translate(-14.7 -5.6000000000000005) rotate(-5.9 1409 581) scale(0.953904)' d='M1409 581 1450.35 511 1490 581z'/%3E%3Ccircle stroke-width='2.09' transform='translate(-42 18) rotate(-2.6 800 450) scale(0.9929919999999999)' cx='500' cy='100' r='40'/%3E%3Cpath transform='translate(-9.399999999999999 18) rotate(-34 401 736) scale(0.9929919999999999)' d='M400.86 735.5h-83.73c0-23.12 18.74-41.87 41.87-41.87S400.86 712.38 400.86 735.5z'/%3E%3C/g%3E%3Cg stroke='url(%23b)' stroke-width='1.9'%3E%3Cpath transform='translate(108 8.799999999999999) rotate(-2.1999999999999997 150 345) scale(1.013968)' d='M149.8 345.2 118.4 389.8 149.8 434.4 181.2 389.8z'/%3E%3Crect stroke-width='4.18' transform='translate(16 -53) rotate(-50.4 1089 759)' x='1039' y='709' width='100' height='100'/%3E%3Cpath transform='translate(-18.4 -2.4000000000000004) rotate(-8.4 1400 132) scale(0.92)' d='M1426.8 132.4 1405.7 168.8 1363.7 168.8 1342.7 132.4 1363.7 96 1405.7 96z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
    background-attachment: fixed;
    background-size: cover;
    margin-top: 15%;
    
    
}
.main_1 {
    background-color: #ffffff;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1600 900'%3E%3Cdefs%3E%3ClinearGradient id='a' x1='0' x2='0' y1='1' y2='0'%3E%3Cstop offset='0' stop-color='%23000000'/%3E%3Cstop offset='1' stop-color='%23000000'/%3E%3C/linearGradient%3E%3ClinearGradient id='b' x1='0' x2='0' y1='0' y2='1'%3E%3Cstop offset='0' stop-color='%23000000'/%3E%3Cstop offset='1' stop-color='%23000000'/%3E%3C/linearGradient%3E%3C/defs%3E%3Cg fill='%23FFF' fill-opacity='0' stroke-miterlimit='10'%3E%3Cg stroke='url(%23a)' stroke-width='3.3'%3E%3Cpath transform='translate(-119.35 6) rotate(-1.9499999999999993 1409 581) scale(0.932958)' d='M1409 581 1450.35 511 1490 581z'/%3E%3Ccircle stroke-width='1.1' transform='translate(-148 91) rotate(8.3 800 450) scale(1.0074869999999998)' cx='500' cy='100' r='40'/%3E%3Cpath transform='translate(21.1 -102) rotate(64 401 736) scale(1.0074869999999998)' d='M400.86 735.5h-83.73c0-23.12 18.74-41.87 41.87-41.87S400.86 712.38 400.86 735.5z'/%3E%3C/g%3E%3Cg stroke='url(%23b)' stroke-width='1'%3E%3Cpath transform='translate(546 1.6000000000000014) rotate(-0.40000000000000036 150 345) scale(0.982986)' d='M149.8 345.2 118.4 389.8 149.8 434.4 181.2 389.8z'/%3E%3Crect stroke-width='2.2' transform='translate(-155 -246.5) rotate(54 1089 759)' x='1039' y='709' width='100' height='100'/%3E%3Cpath transform='translate(-333.2 90.8) rotate(9 1400 132) scale(0.81)' d='M1426.8 132.4 1405.7 168.8 1363.7 168.8 1342.7 132.4 1363.7 96 1405.7 96z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
    background-attachment: fixed;
    background-size: cover;
    
}